p { 
	color: blue
}
body {
    font-size: 20px;
    color: green;
}
body {
    color: yellow;
    background-color: #FF9929;
}
h1{
	background-color: #D46E00;
	text-align: center;
	border-style: dashed;
	margin-left: 100px;
	margin-right: 100px;
}