p { 
	color: #CE9700
}
body {
    font-size: 20px;
    color: #4D0CB3;
}
body {
    color: yellow;
    background-color: #ACC800;
}
h1{
	font-family: 'Pacifico', cursive;
	background-color: #FFD04E ;
	text-align: center;
	border-style: inset;
	margin-left: 100px;
	margin-right: 100px;
}
#mainContent{
	margin-left: 75px;
	margin-right: 75px;
}

.centerMe{
	display: block;
	margin-left :auto;
	margin-right :auto;
}
h2{
	font-family: 'Pacifico', cursive;
	background-color: #D46E00;
	text-align: center;
	border-style: inset;
	margin-left: 100px;
	margin-right: 100px;
	
}
p{
	font-family: 'Pacifico', cursive;
	background-color: #D46E00;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}
